<!DOCTYPE HTML>

<html>
	<head>
		<title>Permalink Page</title>
		<link href="/home/sreemoyee/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	</head>

	<body>
		<div style="text-align: center"><h1>My Blog</h1></div>
		<br><br>

		<div class="blog">
			<div class="blog-subject">
				<div class="blog-title">
					{{blog.subject}}
				</div>

				<div class="blog-date">
					{{blog.created.strftime("%b %d, %Y")}}
				</div>
			</div>

			<div class="blog-content">
				{{blog.content | safe}}
			</div>
		</div>
	</body>
</html>
